/* Enter your Styles below! */
body {
	background-color: #262649;
}

.home {
	background-image: url ('background.jpg');
	background-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header h1,header nav {
    display:inline-block;
    vertical-align:middle;
 }

h1 {
	color: #FF9064;
	font-family: poleno, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 72pt;
	text-align: center;
	margin-top: 20px;
	margin-left: 200px;
}

nav{
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	padding-left: 40px;
	padding-top: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: ;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-family: benton-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10pt;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #F29470}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

main.illustration {
	position: relative;
}

.tree {
	position: absolute;
	top: 0;
}

.bonobo {
	position: absolute;
	left: 0px;
}

.chimpanzee {
	position: absolute;
	left: 0px;
}

section {
	padding-top: 80px;
	padding-left: 500px;
}

.column {
	float: left;
	width: 35%;
}

p {
	color: white;
	margin-bottom: 15px;
	font-family: benton-sans, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12pt;
	line-height: 18px
}